<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ config.base_url }}/screen.css" type="text/css" charset="utf-8" />
  <link rel="alternate" type="application/rss+xml" href="{{ config.base_url }}/rss.xml" title="{{ config.title }}" />
  {% block metadata %}{% endblock %}
</head>
<body class="{{ section.extra.body_class | default(value="") }}">
  <main class="banner">
    <center><p>🚧This site is currently under construction…</p></center>
  </main>
  {% block body %}{% endblock %}
  <footer class="text-center">
    <div class="copyright">
      Copyright © {{ now() | date(format="%Y") }} {{ config.extra.author }}
    </br>This site was last updated on <span class="no-wrap">2026-04-14(UTC+8)</span>.<a href="{{ config.extra.source }}">Website Sources</a>
    </div>
  </footer>
</body>
</html>

